*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: var(--text-size);
  background: var(--gradient-bg);
  background-attachment: fixed;
  height: 100%;
}

.app__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5%;
}

.app__box {
  background: var(--gradient-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--bg-radius);
  width: min(100%, 1620px);
  min-height: 100%;
  padding: 1%;
}

a {
  text-decoration: none;
  color: unset;
}
